uvloop
pydub
youtube_dl
utils
mutagen
typing-extensions
jishaku
voxpopuli
asyncpg
language
APScheduler
aioredis
cryptography
giphy_client
discord
PyNaCl
psutil
gTTS
Flask
async-timeout
dotenv
